body,html{
  min-height: 100%;
  background-color: darkslategray;
}

@font-face {
  font-family: "RobotoRegular";
  src: url(/Roboto/Roboto-Regular.ttf);
}

body{
  margin: 0;
  font-family: RobotoRegular;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-size: auto;
    background-repeat: no-repeat;
    background-color: darkslategray;
}

#main h1{

  color: #eee;
  text-align: center;
  text-transform: uppercase;
}

#main{
  padding: 5em;
  font-family: NotoSansRegular; 
  background-color: darkslategray;
  width: 100%;
  height: 100%;
  text-align: center;
}

.searchContainer {
  display: block; 
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-top: 3em;
}

.comboContainer{
  display: flex;
}

.nominationContainer{

    flex: 1;
    background-color:#F5F5F5;
    padding: 5px 10px;
    margin: 10px;
    width: auto;
    color:black;

}

.nominationContainer h3 {
  padding: 10px 30px
}

li {
  font-size: medium;
}

.nominationContainer p {
  font-size: large;
}


.resultContainer{
    padding: 5px 10px;
    background-color: #505050;
    flex: 1;
    margin: 10px;
    width: auto;
    color:white;
}

.resultContainer h3 {
  padding: 10px 30px
}

.loading {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}

.show {
	display: inline-block;
}

.hide {
	display: none;
}

.message{
  padding-top: 1em;
  text-align: center;
  color: whitesmoke;
}

.displayMovie {
  display: flex;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
}

.displayNomination {
  display: flex;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
}
